<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Atom Webcam Gallery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
        <link rel="stylesheet" href="/static/vendor/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/atom.css">
        <link rel="stylesheet" href="/static/css/popup.css">
    {% endblock %}
</head>
<body>
<div class="menu">
    {% include "sidebar.jinja2" %}
</div>
<div class="main">
    {% block content %}{% endblock %}
</div>
{% include "image_popup.jinja2" %}
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/popup.js"></script>
    <script>
    {% block script %}
    {% endblock %}
    </script>
</html>
