<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Atom Webcam Gallery</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/atom.css">
    {% endblock %}
</head>
<body>
<div class="menu">
    {% include "sidebar.jinja2" %}
</div>
<div class="main">
    {% block content %}{% endblock %}
</div>
</body>
    <script>
        {% block script %}
        {% endblock %}
    </script>
</html>
