{% extends "base.jinja2" %}
{% block content %}
{{ super() }}
    <div class="container">
        {%- for img_path in images -%}
            <div class="img_container item">
                <img src="/images/{{ day }}/{{ img_path }}"/>
            </div>
        {%- endfor -%}
    </div>
{% endblock %}
