{% extends "base.jinja2" %}
{% block title %}{{ '{0} | {1}'.format(MAIN_TITLE, day|to_human_dmy) }}{% endblock %}
{% block content %}
{{ super() }}
    <div class="container">
        {%- if not images  %}
            <div>В этот день сбора данных еще не производилось</div>
        {%- else  %}
        {%- for img_path in images %}
            <figure class="img_container popup">
                <img src="/static/images/{{ day }}/{{ img_path }}"/>
            </figure>
        {%- endfor %}
        {%- endif %}
    </div>
    <div class="rightbar">
        {% include "rightbar.jinja2" %}
    </div>
{% endblock %}
