<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
      <div class="image_btns">
        <i class="fa fa-times"></i>
        <i class="fa fa-arrow-right"></i>
        <i class="fa fa-arrow-left"></i>
      </div>
    <img src="">
  </div>
</div>
