<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
      <div class="image_btns">
        <i class="fa fa-times close-image"></i>
        <i class="fa fa-arrow-right next-image"></i>
        <i class="fa fa-arrow-left prev-image"></i>
      </div>
    <img src="">
  </div>
</div>
