{% extends "base.jinja2" %}
{% block content %}
{{ super() }}
    <ul>
    {% for date in dates %}
        <li><a href="/show_day/{{ date }}">{{ date }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
