:root {
    --images-number: 4;
}

@media (max-width: 800px) {
    :root {
        --images-number: 2;
    }
}

.menu {
    width: 24%;
    float: left;
}

.menu a {
    font-size: 1rem;
}

.main {
    width: 74%;
    float: left;
    margin-top: var(--universal-margin);
}

.container {
    width: 82%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rightbar {
    width: 15%;
    float: left;
    margin-top: var(--universal-margin);
}

@media (max-width: 800px) {
    .menu {
        width: 35%;
    }
    .main {
        width: 64%;
    }
    .rightbar {
        width: 82%;
    }
    .container {
        width: 100%;
    }
}

nav {
    border: none;
}

nav * {
    text-align: center;
}

nav .active {
    text-decoration: none;
    background: var(--nav-hover-back-color)
}

.img_container img {
    object-fit: cover;
}

.img_container {
    width: calc((100% - 3rem)/var(--images-number));
}
