:root {
    --images-number: 4;
    --scale-factor: 5;
}

@media (max-width: 800px) {
    :root {
        --images-number: 2;
        --scale-factor: 1.2;
    }
}

.menu {
    width: 24%;
    float: left;
}

.main {
    width: 74%;
    float: left;
    margin-top: var(--universal-margin);
}

.rightbar {
    width: 15%;
    float: left;
    margin-top: var(--universal-margin);
}

nav {
    border: none;
}

nav * {
    text-align: center;
}

nav .active {
    text-decoration: none;
    background: var(--nav-hover-back-color)
}

.img_container img {
    object-fit: cover;
}

.img_container {
    width: calc((100% - 5rem)/var(--images-number));
}

.container {
    width: 82%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
