.popup img{
    cursor: pointer
}
.showed{
    z-index: 1;
    display: none;
}
.showed .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: fixed;
    top: 0;
    left: 0;
}
.showed .img-show{
    width: calc(16rem * var(--scale-factor));
    height: calc(9rem * var(--scale-factor));
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.image_btns * {
    position: absolute;
    cursor: pointer;
    color: white;
}
.image_btns i.fa-times{
    top: 1%;
    right: 1%;
}
.image_btns i[class*="fa-arrow"]{
    top: 50%;
}
.image_btns i.fa-arrow-left{
    left: 1%;
}
.image_btns i.fa-arrow-right{
    right: 1%;
}
.img-show img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
